html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #393939  }

body {
  color: #F5F5F5;
  font-family: 'Verdana', sans-serif;
  background: linear-gradient(to bottom, ##393939 0%, #6E6E6E 100%);
}

div.container-fluid {
  background: linear-gradient(to bottom, ##393939 0%, #6E6E6E 100%);
}
.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
