html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
  font-family: 'Verdana', sans-serif;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 30px;
    list-style: none;
}
