{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% block title %}<title>Local Library</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block css %}
  <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <!-- <link rel="stylesheet" href="{% static 'css/debug.css' %}"> -->
  {% endblock %}
</head>

<body>
  <!-- Top Nav -->
  <section>
    <nav class="navbar is-dark">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Introduction" style="font-weight:bold;">
            Mozilla Django Tutorial
          </a>
          <span class="navbar-burger burger" data-target="navMenu">
            <span><a href="#" class="navbar-item is-active">&nbsp&nbspHome</a></span>
            <span><a href="#" class="navbar-item">&nbsp&nbspLogin</a></span>
            <span><a href="#" class="navbar-item">&nbsp&nbspLog out</a></span>
          </span>
        </div>
        <div id="navMenu" class="navbar-menu">
          <div class="navbar-end">
            <a href="{% url 'index' %}" class="navbar-item is-active">Home</a>
            <a href="{% url 'login'%}?next={{request.path}}" class="navbar-item">Login</a>
            <a href="{% url 'logout'%}?next={{request.path}}" class="navbar-item">Log out</a>
          </div>
        </div>
      </div>
    </nav>
  </section>
  <section>
    <div class="columns is-multiline is-mobile">
      <div class="column is-one-quarter">
        <ul>
          <li><a href="{% url 'index' %}">&nbsp&nbspHome</a></li>
          <li><a href="{% url 'books' %}">&nbsp&nbspAll books</a></li>
          <li><a href="{% url 'authors' %}">&nbsp&nbspAll authors</a></li>
          {% if user.is_authenticated %}
            <li>&nbsp&nbspUser : {{user.get_username }}</li>
            <li><a href="{% url 'my-borrowed' %}">&nbsp&nbspMy Borrowed</a></li>
            
          
          {% endif %}
        </ul>
      </div>
      <div class="column">
        {% block content %}{% endblock %}
      </div>
    </div>
  </section>
  {% block js %}
  <!-- 3rd party JavaScript -->
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <!-- Project JS -->
  <script src="{% static 'scripts/site.js' %}"></script>
  {% endblock %}
</body>

</html>
